<header>
    <nav>
        <a href="/">Lucas Frey</a>

        <ul>
            <li><a href="#about">Über mich</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projekte</a></li>
            <li><a href="#contact">Kontakt</a></li>
        </ul>
    </nav>
</header>